#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
img{
    width: 35%;
    border-radius: 5px;
    padding:10px;
}

#textbox
{
    width: 300px;
}